.pager {
    display: inline-block;
}

.pager > .current.item {
    color: blue;
    font-weight: bold;
}

.pager > .item {
    display: inline-block;
    padding: 8px;
    color: black;
    cursor: pointer;
}

.pager > .item:hover {
    background-color: #fdb;
}
